h2, input, th, td {
    color: #8B7969;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}

.admin-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.header-nav__button {
    border: none;
    background-color: none;
    color: #D9C6B5;
}

.form {
    display: flex;
    justify-content: space-around;
}

.search-form__item-input,
.search-form__item-gender,
.search-form__item-category,
.search-form__item-date,
.search-form__button-submit,
.search-form__button-reset{
    background-color: #f4f4f4;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: solid 1px #E3DED9;
}

.search-form__item-input {
    background-color: #fbfbfb;
    width: 350px;
}

.search-form__item-gender {
    width: 100px;
}

.search-form__item-category {
    width: 225px;
}

.search-form__item-date {
    width: 150px;
}

.search-form__button {
    display: flex;
}

.search-form__button-submit {
    color: #fff;
    background-color: #8B7969;
    border: none;
}

.search-form__button-reset {
    background-color: #d9c6b5;
}

.search-form__button-link {
    text-decoration: none;
    display: block;
    color: #fff;
}


.pagination {
    display: flex;
    justify-content: end;
    margin: 20px;
}

.pagination li a,
.disabled{
    border: solid 1px #E0DFDE;
    text-decoration: none;
    padding: 5px;
    color: #8B7969;
}

.active {
    border: solid 1px #8B7969;
    background-color: #8B7969;
    color: #fff;
}

.category-table__inner {

}

.category-table__row {
    /* height: 40px; */
    text-align: center;
}

.category-table__header {
    background-color: #8B7969;
    color: #fff;
    padding: 10px 40px;
    font-size: 20px;
}

.category-table__item {
    margin: 0 40px;
    font-size: 20px;
    padding: 10px 10px;
    border-bottom: solid 1px #E0DFDE;
}

.tr-first {
    border-left: solid 1px #E0DFDE;
}

.tr-last {
    border-right: solid 1px #E0DFDE;
}

/* モーダルを開くボタン */
.modal-open {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 60px;
    color: #fff;
    background: #000;
    border: none;
    cursor: pointer;
    translate: -50% -50%;
}

/* モーダルと背景の指定 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
}

/* モーダルの擬似要素の指定 */
.modal:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
    opacity: 1;
    visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
}

/* モーダルを閉じるボタンの指定 */
.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: -150px;
    width: 40px;
    height: 40px;
    color: #8B7969;
    /* background: #000; */
    border-radius: 50%;
    border: solid 1px #8B7969;
    cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content {
    background: #fff;
    border: solid 1px #8B7969;
    text-align: left;
    line-height: 1.8;
    padding: 20px;
    width: 800px;
    height: 850px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p {
    margin: 1em 0;
}

.modal-content-detail {
    margin: 20% 15% 0;
}

.detail_group {
    display: flex;
    margin: 20px 0;
}

.detail_label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    color: #8B7969;
}

.detail_content {
    display: inline-block;
    width: 350px;
    color: #8B7969;
}